# Problem 1: Unique Words in a Sentence

In [ ]:
Sentence=input("Enter a sentence: ")
# Core Logic: .split() is an inbuilt function which spits string into list, set() converts list into a unique set no repeating words
unique_wrd = set(Sentence.split())
print("Unique words count: ",len(unique_wrd),"\n", "Unique words: ",unique_wrd)

Enter a sentence: python is easy and python is powerful
Unique words count:  5
 Unique words:  {'python', 'powerful', 'easy', 'and', 'is'}

# Problem 2: Highest Salary from Employee Data

In [8]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
sal=0
# Core Logic: loop through entire dictionary and if we check salary with each other one by one and store if current salary is greater than previouse one
for i in employees:
  if employees[i]>sal:
    sal=employees[i]
    name=i
print("Highest Salary : ",name ,"-" ,sal)

Highest Salary :  Ravi - 75000

# Problem 3: Find Maximum and Minimum Values

In [9]:
numbers = [45, 22, 89, 10, 66]
max_ = numbers[0]
min_ = numbers[0]
# Cor Logic: Compare every element of list store in max_ if greater than max_, or less than min_
for i in numbers:
  if i >max_:
    max_=i
  if i<min_:
    min_=i
print("List: ", numbers)
print("Max: ", max_)
print("Min: ",min_)

List:  [45, 22, 89, 10, 66]
Max:  89
Min:  10

# Problem 4: Count Products Above a Price Threshold

In [10]:
prices = [450, 1200, 899, 1500, 300]
count=0
# Core Logic: loop through each element in list if greater than 1000 increment the count by 1
for i in prices:
  if i > 1000:
    count+=1
print("Products above 1000: ", count)

Products above 1000:  2

# Problem 5: Calculate Attendance Percentage

In [11]:
attendance = ["P", "P", "A", "P", "P"]
count=0
# Core Logic: Loop through list and compare the corrent element if it is P increase count
for i in attendance:
  if i == "P":
    count+=1
print("Attendance Percentage: ",(count/len(attendance))*100)

Attendance Percentage:  80.0

# Problem 6: Remove Duplicate Phone Numbers

In [12]:
phone_numbers = [9876543210, 9123456789, 9876543210]
# Core Logic: Convert list into set whcih automatically removes duplicate elements
uniq = set(phone_numbers)
print("Unique phone numbers: ",uniq)

Unique phone numbers:  {9876543210, 9123456789}

# Problem 7: Count Character Frequency

In [14]:
string = "pypthon"
count={}
# Core Logic: loop through string every character and check if the current character is already in count: if not set it to 1, if present increase by 1
for i in string:
  if i in count:
    count[i]+=1
  else:
    count[i]=1
print(count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# Problem 8: Convert List to Tuple

In [15]:
lst=[10, 20, 30]
print("Tuple: ",tuple(lst))

Tuple:  (10, 20, 30)

# Problem 9: Check if a Key Exists in a Dictionary

In [20]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
target = input("Enter Employee Name : ")
# Core Logic: use "in" keyword in python which check if our value or key is in dictionary
if target in employees:
  print("Employee exists")
else:
  print("Employee does NOT exist")

Enter Employee Name : Ravi
Employee exists

# Problem 10: Calculate Average Marks

In [26]:
marks= [88, 49, 89, 69, 91,49]
# Core Logic: use "sum()" function to find sum of all the elements inside the list and use "len()" function to find the number of elements
print("Average Marks: ",sum(marks)/len(marks))

Average Marks:  72.5